@import "./config";

.browse {
  @include flex(column);
  @include scrollbar;
  width: 100%;
  padding: 35px 50px;
  background-color: $dark-bg-color;
  color: white;

  .title {
    font-size: 2.5em;
    text-transform: capitalize;
    margin-bottom: 30px;
  }

  @media (max-width: $breakpoint) {
    padding: 35px 15px;
    margin-left: 0;
  }
}
