@import "./config";

.browse {
  @include flex(column);
  @include scrollbar;
  height: 100%;
  padding: 35px 50px;
  background-color: $dark-bg-color;
  color: white;

  section {
    margin-bottom: 35px;

    h1 {
      font-size: 1.7em;
    }
  }

  @media (max-width: $breakpoint) {
    padding: 35px 25px;
  }
}
