@import "./config";

$img-height: 265px;
$img-width: 185px;

.banner-media {
  @include flex(column);
  cursor: pointer;
  width: 370px;
  min-width: 370px;
  margin-right: 20px;

  @media (max-width: $breakpoint) {
    width: 320px;
    min-width: 320px;
  }

  .img {
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: $outer-shadow;
  }

  .title {
    overflow: hidden;
    margin-bottom: 13px;

    h1,
    h2 {
      @include max-lines(1);
      margin: 0;
    }

    h1 {
      font-size: 23px;
    }

    h2 {
      font-size: 21px;
      font-weight: 500;
      color: rgb(143, 143, 143);
    }
  }
}

.small-media {
  @include flex(row);

  cursor: pointer;
  background-color: $lighter-bg-color;
  border-radius: 5px;
  width: 320px;
  min-width: 320px;
  max-height: 141px;
  box-shadow: $outer-shadow;

  .img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 0 0 5px;
    min-width: 100px;
    height: 141px;
  }

  .text {
    @include flex(column);
    padding: 7px 10px;
    overflow: hidden;
    text-transform: capitalize;

    .header {
      color: $primary-color;
    }

    h1 {
      @include max-lines(2);
      font-size: 17.5px;
      margin: 0;
    }

    span {
      color: lightgray;
      font-size: 13px;
      font-weight: 500;
    }
  }
}

.media {
  @include flex(row);

  cursor: pointer;
  box-shadow: $outer-shadow;
  height: $img-height;
  border-radius: 5px;
  background-color: $lighter-bg-color;
  margin-right: 13px;
  user-select: none;

  .img {
    width: $img-width;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .info {
    margin: 0;
    overflow: hidden;
    width: 0;
    transition: all 0.5s ease;
  }

  &:hover {
    .info {
      width: $img-width;
      transition-delay: 270ms;
    }
  }

  .text {
    @include flex(column);

    overflow: hidden;
    padding: 10px;
    width: $img-width;
    text-transform: capitalize;

    .header {
      color: $primary-color;
    }

    h1 {
      font-size: 18px;
      margin: 0;
    }

    span {
      font-size: 13px;
      font-weight: 500;
      color: lightgray;
    }
  }
}

.media-list-container {
  height: 335px;
  width: 100%;

  &.grouped {
    height: 380px;
  }

  h1 {
    margin-bottom: 5px;
    text-transform: capitalize;
  }
}

.media-group {
  @include flex(column);
}

.media-list {
  @include flex(row);
  @include scrollbar();

  padding: 12px 0;
  overflow: hidden;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;

  @media (max-width: $breakpoint), (max-width: 1024px) {
    overflow-x: scroll;
  }

  &:hover {
    overflow-x: scroll;
  }
}

.media-rank {
  @include flex(row);

  font-size: 15px;
  margin-bottom: 15px;
  width: 100%;
  user-select: none;

  @media (max-width: $breakpoint) {
    flex-direction: column;
  }

  div {
    @include flex(row);

    cursor: pointer;
    align-items: center;
    background-color: $lighter-bg-color;
    border-radius: 5px;
    padding: 7px 10px;
    font-weight: 500;
    transition: all 0.5s ease;

    &:hover {
      background-color: lighten($color: $lighter-bg-color, $amount: 10);
    }
  }

  div:nth-child(2) {
    margin-left: 20px;

    @media (max-width: $breakpoint) {
      margin-left: 0;
      margin-top: 7px;
    }
  }

  img {
    height: 15px;
  }

  span {
    margin-left: 10px;
  }
}

.media-data {
  background-color: $lighter-bg-color;
  padding: 12px;
  font-size: 15px;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow-x: auto;
  width: 100%;

  @media (max-width: $breakpoint) {
    @include flex(row);
    white-space: nowrap;
  }

  .elem {
    @include flex(column);
    padding: 0;
    margin: 7px;
    text-transform: capitalize;

    a {
      text-decoration: none;
      transition: color 0.5s ease;

      &:hover {
        color: $primary-color;
      }
    }

    @media (max-width: $breakpoint) {
      min-width: fit-content;
      padding-right: 20px;
    }
  }
}

.genre {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $lighter-bg-color;
  border-radius: 17px;
  font-weight: bold;
  margin: 5px;
  padding: 10px 15px;
  white-space: nowrap;
  transition: all 0.5s ease;
  user-select: none;

  &:hover {
    background-color: lighten($color: $lighter-bg-color, $amount: 10);
  }
}

.genre-list {
  @include flex(row);
  overflow-x: auto;
  overflow-y: hidden;
  padding: 3px 0;
}
